
			<!--main-->
			
			<?for($ii=0; $ii<30; $ii++) {?>
					
			
			<!--item1-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
					<div class="box">
					    <div class="item">
						  <div class="item-overlay active p-a"><span class="pull-right label dark-white text-color">35,000원</span> 
							<a
							href="" class="pull-left text-u-c label label-md info">CPA 알바</a>
						  </div>
						  <img src="http://easyfirst.co.kr/asset/product/list_142596764788039.jpg"  class="w-full">
					    </div>
					    <div class="p-a">
						  <div class="text-muted m-b-xs"><span class="m-r">줄기세포 가슴성형 > 마이셀 가슴성형</span> 
							    
							    

						  </div>
						  <div class="m-b m-t20">
							<a href="" class="_800">마이셀 가슴성형</a>
						  </div>
						  <p class="">
							
							  <div class="text-muted m-b5"><span class="m-r">1초 포스팅</span></div>

							<a href="" class="btn btn-icon btn-social rounded btn-social-colored indigo" title="Facebook">
								<i class="fa fa-facebook"></i> <i class="fa fa-facebook"></i>
							</a>

							<a href="" class="btn btn-icon btn-social rounded btn-social-colored light-blue-800" title="Instagram">
								<i class="fa fa-instagram"></i> <i class="fa fa-instagram"></i>
							</a>

							<a href="" class="btn btn-icon btn-social rounded btn-social-colored " title="네이버블로그" style="background-color:#24b708">
								<i><img src="images/tab_img_01_on.png" alt="" style="width:26px"/></i>
								<i><img src="images/tab_img_01_on.png" alt="" style="width:26px"/></i>
							</a>

							<a href="" class="btn btn-icon btn-social rounded btn-social-colored " title="네이버카페" style="background-color:#24b708">
								<i><img src="images/tab_img_02_on.png" alt="" style="width:22px"/></i>
								<i><img src="images/tab_img_02_on.png" alt="" style="width:22px"/></i>
							</a>

						  </p>
						  <div class="text-right" style="height:20px">
							<a href="" class="m-r f_l"><i class="fa fa-share"></i> 34명 진행중</a>
							<a href="" class="btn btn-xs white f_r">자세히보기</a>
						  </div>
					    </div>
					</div>
				</div>
			<!--item1-->

			<?}?>

		
			
			



			





