

  <div class="row m-l10 " style="max-width:1400px" >
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
	
          <img src="./images/adm_menu1.jpg" class="w-full r-t b-b" alt="홈페이지관리">
          <div class="bottom text-dark p">
            홈페이지관리
          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right" href="/admin/site_adm/common/?PageNum=010101">
		<span class="text-white">
			<i class="fa fa-cogs"></i>
		</span>
	</a>
        <div class="p">
          <h3>홈페이지관리</h3>
          <p style="height:40px;overflow:hidden">
           사이트에 각종 약관 및 관리자 정보, 상단 타이틀, 팝업등 홈페이지를 관리하기 위한 기능입니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="./images/adm_menu2.jpg" class="w-full r-t b-b" alt="Washed Out">
          <div class="bottom text-white p">
            회원관리
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised bg-white m-r md-fab-offset pull-right" onclick="location.href='/admin/member_adm/member/1?PageNum=020101'">{member_count+0}명</button>
        <div class="p">
          <h3>회원관리</h3>
          <p style="height:40px;overflow:hidden">
            웹사이트에 가입된 회원을 유형별로 관리합니다. 가입경로와 유입현황도 확인가능합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="./images/adm_menu3.jpg" class="w-full r-t b-b"  alt="Washed Out">
          <div class="bottom text-white p">
            컨텐츠관리
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right" onclick="location.href='/admin/menu_adm/menu/frame/?PageNum=030101'"><i class=" glyphicon  glyphicon-inbox i-24"></i></button>
        <div class="p">
          <h3>컨텐츠관리</h3>
          <p style="height:40px;overflow:hidden">
            사이트에 메뉴를 기반으로 웹페이지,게시판등을 관리합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="./images/adm_menu4.jpg" class="w-full r-t b-b" alt="Washed Out">
	    <div class="bottom text-dark p">
            온라인상담
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised indigo m-r md-fab-offset pull-right" onclick="location.href='/admin/online_adm/list_view/?PageNum=040101'">{total_cu -re_total_cu+0 }건</button>
        <div class="p">
          <h3>온라인상담</h3>
          <p style="height:40px;overflow:hidden">
		
		
		오늘 <span class="text-danger">{total_cu -re_total_cu+0 }</span>건의 미답변 글이있고, 총 <span class="text-warning">{total_cu}</span>개의 글이 등록되어 있습니다.
		여기서 답변하실 수 있습니다.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="./images/adm_menu6.jpg" class="w-full r-t" alt="Washed Out">
	     <div class="bottom text-dark p">
            홈페이지 팝업관리
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised pink m-r md-fab-offset pull-right" onclick="location.href='/admin/site_adm/popup//?PageNum=010401'"><i class=" mdi-action-account-circle  i-24"></i></button>
        <div class="p">
          <h3>홈페이지 팝업관리</h3>
          <p style="height:40px;overflow:hidden">
           홈페이지 레이어팝업을 관리합니다. 
		
          </p>
        </div>
      </div>
    </div>


    <!--div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="./images/adm_menu5.jpg" class="w-full r-t" alt="Washed Out">
	     <div class="bottom text-white p">
            SMS 발송
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised bg-white m-r md-fab-offset pull-right" onclick="location.href='/admin/sms/main/?PageNum=050101'"><i class="  mdi-action-question-answer   i-24"></i></button>
        <div class="p">
          <h3>SMS 발송</h3>
          <p style="height:40px;overflow:hidden">
           SMS/LMS를 발송합니다. 
	
          </p>
        </div>
      </div>
    </div-->
    
  </div>

