<div class="cont_top"><img src="/application/views/mobile/images/sub_new/community_top_06.png"></div>
<div class="cont_top2" style="text-align:center"><a href="http://goto.kakao.com/hvfbs4xp"><img src="/application/views/mobile/images/consult/ban_kakao.png" class="contents" style="width:93%"></a></div>

<link rel="stylesheet" type="text/css" href="./style.css">





<br>

<div class="section-contents clearfix" style="width:93%;margin:0 auto">

<form name="tx_editor_form" id="tx_editor_form" method="post" accept-charset="<?=_CHARSET?>" enctype="multipart/form-data" style="">
<input type="hidden" name="mcode" value="{mcode}" required="false">
<input type="hidden" name="cate" value="{_GET.cate}" required="false">
<input type="hidden" name="idx" value="{ind}" required="false">

<fieldset>

 

<table border="1" cellspacing="0"  style="border-top: 2px solid #818181;  border-bottom: 1px solid #494949;font-size:12px" class="table  table-bordered">
	<tbody>
	
		<tr>
			<th scope="row" style="width:100px;padding:15px">상담항목</th>
			<td style="vertical-align:middle;padding-left:15px">
				<div class="item">
					<select name="db_subject" class="form-control w200">
						{@ cate_list}
							<option value="{.section}">{.item}</option>
						{/}
					</select>
				</div>
			</td>
		</tr>

		<tr>
			<th scope="row" style="width:100px;padding:15px">이름</th>
			<td style="vertical-align:middle;padding-left:15px">
				<div class="item">
					<input type="hidden" name="db_id" value="{_SESSION.USERID}"/>
					<input class="w200 form-control" title="이름" type="text" name="db_name" required="required" hname="이름" maxbyte="15" placeholder="이름입력"> 
				</div>
			</td>
		</tr>

		<tr>
			<th scope="row" style="width:100px;padding:15px">전화번호</th>
			<td style="vertical-align:middle;padding-left:15px">
				<div class="item">
					<input class="w200 form-control" title="전화번호" type="text" name="db_phone" id="db_phone" required="required" hname="전화번호" placeholder="전화번호 입력 ex) 010-0000-0000"> 
				</div>
				<script type="text/javascript">
				$('#db_phone').change(function(){
					var tmp_p = str_replace("-","",$(this).val());
					console.log(strlen(tmp_p));
					if(strlen(tmp_p) > 10){

						tmp_p = substr(tmp_p,0,3)+'-'+substr(tmp_p,3,4)+'-'+substr(tmp_p,7,4);
					}else{
						tmp_p = substr(tmp_p,0,3)+'-'+substr(tmp_p,3,3)+'-'+substr(tmp_p,6,4);
					}
					
					$(this).val(tmp_p);

					  var rgEx = /(01[016789])[-](\d{4}|\d{3})[-]\d{4}$/g;  
					   var strValue = $(this).val();
					   var chkFlg = rgEx.test(strValue);   
					   if(!chkFlg){
					    alert("올바른 휴대폰번호가 아닙니다.");
					    $(this).focus();
					    return false; 
					   }
				});
				</script>
			</td>
		</tr>

		<tr>
			<th scope="row" style="width:100px;padding:15px">이메일</th>
			<td style="vertical-align:middle;padding-left:15px">
				<div class="item">
					<input class="w200 form-control" title="이메일" type="email" name="db_email" hname="이메일" placeholder="이메일 입력" > 
				</div>
			</td>
		</tr>

		<tr>
			<th scope="row" style="width:100px;padding:15px">비밀번호</th>
			<td style="vertical-align:middle;padding-left:15px">
				<div class="item">
					<input class="w200 form-control" title="비밀번호" type="password" name="db_pw" hname="비밀번호" required="required" placeholder="답변글을 확인하실때 필요합니다." > 
				</div>
			</td>
		</tr>
		
	</tbody>  
</table>


<plug:daum_editor name="content" height="250" form="tx_editor_form" width="320" sect="{file_sect}">{str_text}</plug:daum_editor>

  
<div style="text-align:center;margin-top:15px">
		<a href="javascript:saveContent();" class="btn btn-dark btn-xl">등록하기</a>
		
		<a href="javascript:history.go(-1)" class="btn btn-default btn-xl">취소</a>
		
</div>
 
 
</form>      
</div>

<script type="text/javascript">
$(document).ready(function(){ 
	$('.tx-toolbar-basic, .tx-sidebar-boundary,#tx_sidebar').hide();
	$('#tx_canvas_text').height(180);
});

</script>