<div class="dropdown-menu pull-down p-a w-full text-color text-primary-hover">
  <div class="row">
    <div class="col-sm-4">
      <div class="_600 text-u-c m-y-sm">UI kits <span class="label label-sm success">10</span></div>
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li class="hide" ng-class="{'show': 1}">
              <a ui-sref="app.ui.angularstrap"><span>AngularStrap</span></a>
            </li>
            <li>
              <a href="#/app/ui/arrow" ui-sref="app.ui.arrow"><span>Arrow</span></a>
            </li>
            <li>
              <a href="#/app/ui/box" ui-sref="app.ui.box"><span>Box</span></a>
            </li>
            <li>
              <a href="#/app/ui/button" ui-sref="app.ui.button"><span>Button</span></a>
            </li>
            <li>
              <a href="#/app/ui/color" ui-sref="app.ui.color"><span>Color</span></a>
            </li>
            <li>
              <a href="#/app/ui/dropdown" ui-sref="app.ui.dropdown"><span>Dropdown</span></a>
            </li>
            <li>
              <a href="#/app/ui/grid" ui-sref="app.ui.grid"><span>Grid</span></a>
            </li>
            <li>
              <a href="#/app/ui/icon" ui-sref="app.ui.icon"><span>Icon</span></a>
            </li>
            <li>
              <a href="#/app/ui/label" ui-sref="app.ui.label"><span>Label</span></a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#/app/ui/list" ui-sref="app.ui.list"><span>List Group</span></a>
            </li>
            <li>
              <a href="#/app/ui/modal" ui-sref="app.ui.modal"><span>Modal</span></a>
            </li>
            <li>
              <a href="#/app/ui/nav" ui-sref="app.ui.nav"><span>Nav</span></a>
            </li>
            <li>
              <a href="#/app/ui/progress" ui-sref="app.ui.progress"><span>Progress</span></a>
            </li>
            <li>
              <a href="#/app/ui/social" ui-sref="app.ui.social"><span>Social</span></a>
            </li>
            <li>
              <a href="#/app/ui/streamline" ui-sref="app.ui.streamline"><span>Streamline</span></a>
            </li>
            <li>
              <a href="#/app/ui/timeline" ui-sref="app.ui.timeline"><span>Timeline</span></a>
            </li>
            <li>
              <a href="#/app/ui/vectormap" ui-sref="app.ui.vectormap"><span>Vector Map</span></a>
            </li>
            <li class="hide" ng-class="{'show': 1}">
              <a ui-sref="app.googlemap"><span>Google Map</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="_600 text-u-c m-y-sm">Pages <span class="label label-sm">12</span></div>
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#/app/page/profile" ui-sref="app.page.profile">
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/setting" ui-sref="app.page.settings">
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/search" ui-sref="app.page.search">
                <span>Search</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/faq" ui-sref="app.page.faq">
                <span>FAQ</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/invoice" ui-sref="app.page.invoice">
                <span>Invoice</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/price" ui-sref="app.page.price">
                <span>Price</span>
              </a>
            </li>
            <li>
              <a href="#/app/page/blank" ui-sref="app.page.blank">
                <span>Blank</span>
              </a>
            </li>
            <li>
              <a href="#/access/signin" ui-sref="access.signin">
                <span>Sign In</span>
              </a>
            </li>
            <li>
              <a href="#/access/signup" ui-sref="access.signup">
                <span>Sign Up</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#/access/forgot-password" ui-sref="access.forgot-password">
                <span>Forgot Password</span>
              </a>
            </li>
            <li>
              <a href="#/access/lockme" ui-sref="access.lockme">
                <span>Lockme Screen</span>
              </a>
            </li>
            <li>
              <a href="#/404" ui-sref="404">
                <span>Error 404</span>
              </a>
            </li>
            <li>
              <a href="#/505" ui-sref="505">
                <span>Error 505</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="_600 text-u-c m-y-sm">Form</div>
      <ul class="nav l-h-2x">
        <li>
          <a href="#/app/form/layout" ui-sref="app.form.layout"><span>Form Layout</span></a>
        </li>
        <li>
          <a href="#/app/form/element" ui-sref="app.form.element"><span>Form Element</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.validation"><span>Form Validation</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.select"><span>Select</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.editor"><span>Editor</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.slider"><span>Slider</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.tree"><span>Tree</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.file-upload"><span>File Upload</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.image-crop"><span>Image Crop</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.form.editable"><span>Editable</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <div class="_600 text-u-c m-y-sm">Table</div>
      <ul class="nav l-h-2x">
        <li>
          <a href="#/app/table/static" ui-sref="app.table.static"><span>Static table</span></a>
        </li>
        <li>
          <a href="#/app/table/datatable" ui-sref="app.table.datatable"><span>Datatable</span></a>
        </li>
        <li>
          <a href="#/app/table/footable" ui-sref="app.table.footable"><span>Footable</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.table.smart"><span>Smart table</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.table.nggrid"><span>NG Grid</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.table.uigrid"><span>UI Grid</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a ui-sref="app.table.editable"><span>Editable</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
