<link rel="stylesheet" type="text/css" href="/css/doc_style.css">
<style type="text/css" title="">
/* UI Object */
.form_table{margin:1em 0;font-size:12px;font-family:Tahoma, Geneva, sans-serif}
.form_table input,
.form_table textarea,
.form_table select,
.form_table table,
.form_table button{font-size:12px}
.form_table table{width:97%;border:0;border-top:2px solid #940018;margin:10px auto}
.form_table caption{padding:8px 0;font-weight:bold;text-align:left}
.form_table th,
.form_table td{padding:8px;border:0;vertical-align:top}
.form_table th{color:#333;}
.form_table td{color:#666}
.form_table thead th{border-bottom:1px solid #ccc;background:#f8f8f8}
.form_table tbody th{border-bottom:1px solid #ddd;background:#fafafa;text-align:right}
.form_table tfoot th{border-bottom:1px solid #ddd}
.form_table tbody td{border-bottom:1px solid #ddd}
.form_table tfoot td{border-bottom:1px solid #ddd;font-weight:bold;color:#333}
.form_table .item{position:relative;margin:-4px 0}
.form_table .item .i_help{position:absolute;top:4px;right:0}
.form_table .item .i_label{ top:6px; left:10px}
.form_table .item .i_dsc{margin:2px 0}
.form_table .item .i_check,
.form_table .item .i_radio{width:13px;height:13px;margin:2px 5px 2px 0;padding:0;vertical-align:middle}
.form_table .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.form_table .item .hide{visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.form_table .item select{margin:2px}
.form_table .item label{margin:0 10px 0 0;cursor:pointer}
input{color:#000}
/* //UI Object */
</style>
<script type="text/javascript" src="/js/ajax.js"></script>
<script type="text/javascript">
// <![CDATA[
	function juminChks() {
		if(!$$('jumin1').value &&  !$$('jumin2').value){
			alert('주민번호를 입력해주시기 바랍니다.');
			return false;
		}
		var jumin = $$('jumin1').value +'-'+$$('jumin2').value;
		var params = 'jumin=' + jumin;  

		//10글자 확인
		if(strlen($$('jumin1').value) != 6 ){
			alert('주민번호를 정확하게 입력해주세요');
			$$('jumin1').value='';
			$$('jumin1').focus();
			return false;
		}

	

		sendRequest("/user_page/ajaxCont/jumin", params, juminChksFromServer, "POST");
	}
	function juminChksFromServer() {
		if (httpRequest.readyState == 4) {
			if (httpRequest.status == 200) {
				var str_text = httpRequest.responseText;
				//alert(str_text);
				if(str_text =="Y"){
					alert('이미 가입된 주민번호 입니다.');
					$$('juminChk').value='';
					$$('jumin1').value = '';
					$$('jumin2').value = '';
				}else{
					$$('juminChk').value='y';
					alert('사용가능한 주민번호 입니다.');
					//$$('str_sex1').focus();
				}
			}
		}
	}

	function idChks() {
		if(!$$('str_id').value ){
			alert('아이디를 입력해주시기 바랍니다.');
			return false;
		}
		var params = 'userid=' + $$('str_id').value ;  
		sendRequest("/user_page/ajaxCont/userid", params, idChksFromServer, "POST");
	}
	function idChksFromServer() {
		if (httpRequest.readyState == 4) {
			if (httpRequest.status == 200) {
				var str_text = httpRequest.responseText;
				//alert(str_text);
				if(str_text =="Y"){
					alert('사용할수 없는 아이디 입니다.');
					$$('idChk').value='';
				}else{
					$$('idChk').value='y';
					alert('사용가능한 아이디 입니다.');
					$$('str_passwd').focus();
				}
			}
		}
	}

	function schoolSch(){
		layerPopupOpen(600,'학교검색','', '/user_page/school_sch/','y');
	}



// ]]>
</script>


<form name="joinForm" id="joinForm" method="post" enctype="multipart/form-data" onsubmit="return validate(this)">
<input type="hidden" name="chr_mtype" id="chr_mtype" value="{types}" required="false">




<p class="buTitle33" style="margin-bottom:0px;padding-left:18px;width:95%;margin:10px auto">개인회원 기본정보</p>

<div class="form_table">
<table border="1" cellspacing="0" summary="표의 요약을 반드시 넣어 주세요">
<tbody>

<tr>
	<th scope="row">아이디</th>
	<td colspan="3">
		
			{str_id} ({=date("Y년 m월 d일 가입",dt_date)})
		
	</td>
</tr>

<tr>
	<th scope="row">비밀번호</th>
	<td colspan="3">
		<div class="item">
			
			<input class="i_text" name="str_passwd" id="str_passwd" hname="비밀번호" type="password"  style="width:130px"  required minbyte="6" maxbyte="20">※ 6자리 이상 20자리 미만
			
		</div>
	</td>
</tr>

<tr>
	<th scope="row">성명(한글)</th>
	<td colspan="3">
		{str_name}
	</td>
	
</tr>

<tr>
	
	<th scope="row">성별</th>
	<td colspan="3">
		<div class="item">
			{? str_sex ==1}남자{:}여자{/}
		</div>
	</td>
</tr>


<tr>	
	<th scope="row">생년월일</th>
	<td colspan="3">
		<div class="item">
			<select name="chre_y" id="chre_y" hname="생년" required>
				<option value="">생년</option>
				<? for($ii=1930; $ii<date("Y")+1; $ii++) { ?>
				<option value="<?=$ii?>"><?=$ii?></option>
				<? } ?>
			</select>
			<span>년</span>

			<select name="chre_m" id="chre_m" hname="월" required>
				<option value="">월</option>
				<? for($ii=1; $ii<13; $ii++) { ?>
				<option value="<?= sprintf("%02d",$ii)?>"><?= sprintf("%02d",$ii)?></option>
				<? } ?>
			</select>
			<span>월</span>

			<select name="chre_d" id="chre_d" hname="일" required>
				<option value="">일</option>
				<? for($ii=1; $ii<32; $ii++) { ?>
				<option value="<?=$ii?>"><?=$ii?></option>
				<? } ?>
			</select>
			<span>일</span>

			<script type="text/javascript">
			// <![CDATA[
			$('#chre_y').val('{chre_y}');
			$('#chre_m').val('{chre_m}');
			$('#chre_d').val('{chre_d}');
			// ]]>
			</script>
			

		</div>
	</td>
</tr>

</table>
</div>
</fieldset> 


<p class="buTitle33" style="margin-bottom:0px;padding-left:18px;width:95%;margin:10px auto">개인회원 기타정보</p>

<div class="form_table">
<table border="1" cellspacing="0" summary="표의 요약을 반드시 넣어 주세요">
<tbody>


<tr>
	<th scope="row">학교</th>
	<td>
		<div class="item">
			<input type="text" size="50" name="str_school" id="str_school" value="{str_school}" onclick="schoolSch();" required maxbyte="100" trim="trim" class="i_text" style="width:140px" hname="학교명"  readonly/>
			<plug:btn size="2" type="button" event="onclick" js="schoolSch();" value="학교검색"/>
			<br>미취학 아동은 검색창에 '미취학'을 검색해주세요.

		</div>
	</td>
	<th scope="row">학년</th>
	<td>
		<div class="item">
		<select name="num_grade" id="num_grade" hname="학년선택" required>
			<option value='' {? !num_grade} selected{/}>--학년선택--</option>
			<option value='10' {? num_grade == "10"} selected{/}>미취학</option>
			<option value='11' {? num_grade == "11"} selected{/}>초등1</option>
			<option value='12' {? num_grade == "12"} selected{/}>초등2</option>
			<option value='13' {? num_grade == "13"} selected{/}>초등3</option>
			<option value='14' {? num_grade == "14"} selected{/}>초등4</option>
			<option value='15' {? num_grade == "15"} selected{/}>초등5</option>
			<option value='16' {? num_grade == "16"} selected{/}>초등6</option>
			<option value='21' {? num_grade == "21"} selected{/}>중등1</option>
			<option value='22' {? num_grade == "22"} selected{/}>중등2</option>
			<option value='23' {? num_grade == "23"} selected{/}>중등3</option>
			<option value='31' {? num_grade == "31"} selected{/}>고등1</option>
			<option value='32' {? num_grade == "32"} selected{/}>고등2</option>
			<option value='33' {? num_grade == "33"} selected{/}>고등3</option>
			<option value='34' {? num_grade == "34"} selected{/}>졸업생</option>
		</select>
		<input type="text" name="str_class" id="str_class" value="{str_class}" class="" hname="반" style="width:30px" required>반 <br>(※ 미취학은 0 입력)
		</div>
	</td>
</tr>


<tr>
	<th scope="row">연락처</th>
	<td colspan="3">
		<div class="item">
			
			<input type="text" size="50" name="str_phone" value="{str_phone}" required class="i_text" style="width:100px"/>
		</div>
	</td>

</tr>
<tr>
	
	<th scope="row">휴대폰</th>
	<td colspan="3">
		<div class="item">
			<input type="text" size="50" name="str_handphone" value="{str_handphone}" required class="i_text" style="width:100px"/>
		</div>
	</td>
</tr>

<tr>
	<th scope="row">주소</th>
	<td colspan="3">
		<div class="item">
			<plug:load src="zipsearch" name="chr_zip" title="우편번호" value="{chr_zip}" addr="str_addr1" focus="str_addr2" required="true" style="width:60px"/> <br />
			<input type="text" size="50" name="str_addr1" value="{str_addr1}" required maxbyte="100" readonly class="i_text" /><br>
			<input type="text" size="50" name="str_addr2" value="{str_addr2}" required maxbyte="100" trim="trim" class="i_text" />
		</div>
	</td>
</tr>

<tr>
	<th scope="row">이메일</th>
	<td colspan="3">
		<div class="item">
			<input class="i_text" name="email1" id="email1" hname="이메일" type="text" value="{email1}" maxbyte="50" style="width:100px"  required >@<input name="email2" id="email2" hname="이메일" value="{email2}" type="text"  maxbyte="50" required />
										
			<select name="emailSelect1" onchange = "$$('email2').value=this.value" required="false">
				<option value="">Email 주소 선택</option>
				<option value="">직접입력</option>
				<option value="gmail.com">구글(G메일)</option>
				<option value="naver.com">네이버</option>
				<option value="nate.com">네이트</option>
				<option value="dreamwiz.com">드림위즈</option>
				<option value="yahoo.co.kr">야후</option>
				<option value="empal.com">엠파스</option>
				<option value="paran.com">파란</option>
				<option value="hanmail.net">한메일</option>
			</select>
		
		</div>
	</td>
</tr>

<tr>
	<th scope="row">SMS수신여부</th>
	<td colspan="3">
		<div class="item">
			<input type="radio" name="str_sms" id="str_sms1" value="Y" {? str_sms == "Y"} checked{/}><label for="str_sms1">SMS를 수신 허용합니다.</label>
			<input type="radio" name="str_sms" id="str_sms2" value="N" {? str_sms == "N"} checked{/}><label for="str_sms2">SMS를 수신 하지 않습니다.</label>
		</div>
	</td>
</tr>
<tr>
	<th scope="row">정보메일수신여부</th>
	<td colspan="3">
		<div class="item">
			<input type="radio" name="str_mailring" id="str_mailring1" value="Y" {? str_mailring == "Y"} checked{/}><label for="str_mailring1">정보메일을 수신 허용합니다.</label>
			<input type="radio" name="str_mailring" id="str_mailring2" value="N" {? str_mailring == "N"} checked{/}><label for="str_mailring2">정보메일을 수신 하지 않습니다.</label>
		</div>
	</td>
</tr>

</table>
</div>
</fieldset>




<div style="text-align:center;margin-top:20px;">
	<plug:btn size="2" icon="add" type="submit" id="btn_submit" value="회원정보수정"/>
</div>
</form>