<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<link rel="stylesheet" href="../css/sub.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/default.css" type="text/css" media="screen" />
<title>it company</title>
</head>

<body>
<div id="wrap">
    <div id="headerwrap">
        <div id="header">
            <!-- top logo -->
            <div id="logo">
            <img src="../images/main/ci.png">
            </div>
            <div id="gnb">
                <ul>
                    <li><img src="../images/main/gnb_01.png" alt="IT컴퍼니"></li>
                    <li><img src="../images/main/gnb_bar.png"></li>
                    <li><img src="../images/main/gnb_02.png" alt="MARKETING"></li>
                    <li><img src="../images/main/gnb_bar.png"></li>
                    <li><img src="../images/main/gnb_03.png" alt="DESIGN/IT"></li>
                    <li><img src="../images/main/gnb_bar.png"></li>
                    <li><img src="../images/main/gnb_04.png" alt="PORTFOLIO"></li>
                    <li><img src="../images/main/gnb_bar.png"></li>
                    <li><img src="../images/main/gnb_05.png" alt="CUSTMER CENTER"></li>
                </ul>
            </div>
            <!-- top logo E-->
        </div>
    </div>
    
    <div id="container">
		<div class="cont_visual04">
        </div>
        
        <!-- contents -->
        <div class="cont">
			<div class="section"><img src="../images/sub/tit_04.png"></div>
            <div class="list">
            	<ul>
                	<li>
                    	<img src="../images/sub/ban_01.jpg">
                        <div class="text">
                            <div class="icon"><button type="button" class="website" onclick="window.open('http://www.kucamp.com/')"><img src="../images/sub/btn_w.png" alt="website"></button></div>
                            <span class="subtit">교육/대학교</span><p>고려대학교 KU캠프</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                    	<img src="../images/sub/ban_02.jpg">
                    	<div class="text">
                            <div class="icon"><button type="button" class="website" onclick="window.open('http://pafolschool.com')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">교육/컨텐츠</span><p>PAFOL SCHOOL</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                    	<img src="../images/sub/ban_03.jpg">
                        <div class="text">
                        	<div class="icon">
                    		<button type="button" class="website" onclick="window.open('http://www.ecosian.com/')"><img src="../images/sub/btn_w.png"></button></div>
                    		<span class="subtit">기업</span><p>ECOSIAN</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                    	</div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_04.jpg">
                        <div class="text"><div class="icon">
                            <button type="button" class="website" onclick="window.open('http://www.monkey3.co.kr/')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">미디어</span><p>몽키3뮤직</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_05.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('http://a-made.co.kr/')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">뷰티/쇼핑</span><p>A.MADE</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                    	<img src="../images/sub/ban_06.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('http://www.biuda.co.kr/')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">여행</span><p>JEJU STAY BIUDA</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_07.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('http://hospi.it-company.kr/')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/재활기기</span><p>HOSPI</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_08.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/klasse.html')"><img src="../images/sub/btn_w.png" alt="website"></button><button type="button" class="mwebsite"><img src="../images/sub/btn_m.png" alt="mobile website"></button></div>
                            <span class="subtit">의료/성형외과</span><p>클라쎄 성형외과</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE / MOBILE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_09.jpg">
                        <div class="text">
                        <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/deesse_old.html')"><img src="../images/sub/btn_w.png" alt="website"></button><button type="button" class="mwebsite" onclick="window.open('http://m.deesse.co.kr/')"><img src="../images/sub/btn_m.png" alt="mobile website"></button></div>
                            <span class="subtit">의료/성형외과</span><p>청담여신 성형외과</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE / MOBILE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_10.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/easy.html')"><img src="../images/sub/btn_w.png" alt="website"></button><button type="button" class="mwebsite"><img src="../images/sub/btn_m.png" alt="mobile website"></button></div>
                            <span class="subtit">기업/마케팅</span><p>EASY FIRST</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE / MOBILE / BI</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_11.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/missmart.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">기업/IT</span><p>MISSMART</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_12.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/bgnt.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">기업/IT</span><p>BG&amp;T</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_13.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/sum.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/한의원</span><p>숨편한 세상 한의원</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_14.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/citymedia.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">기업/언론</span><p>시티미디어</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_15.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('http://deesse.co.kr/')"><img src="../images/sub/btn_w.png"></button><button type="button" class="mwebsite"><img src="../images/sub/btn_m.png" alt="mobile website" onclick="window.open('http://m.deesse.co.kr/')"></button></div>
                            <span class="subtit">의료/성형외과</span><p>청담여신 성형외과</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE / MOBILE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_16.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('http://kairospartners.co.kr')"><img src="../images/sub/btn_w.png"></button></div><span class="subtit">기업</span><p>KAIROS</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_17.jpg">
                        <div class="text">
                        <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/zien.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>청담지엔 성형외과</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_18.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/citydaily.html')"><img src="../images/sub/btn_w.png" alt="website"></button><button type="button" class="mwebsite"><img src="../images/sub/btn_m.png" alt="mobile website"></button></div>
                            <span class="subtit">미디어/언론</span><p>CITY DAILY</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE / MOBILE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_19.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/citytv.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">교육/대학교</span><p>CITY TV</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_20.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/ibk.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">기업/금융</span><p>IBK 자산운용</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_21.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">기업</span><p>KT Telecap</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_22.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/real_01.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>리얼모델모집</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_23.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/david.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">종교</span><p>다윗의 장막</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_24.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>홍보영상</p><img src="../images/sub/list_bar.jpg"><br><span>MEDIA</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_25.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/real_02.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>리얼모델모집</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_26.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/bodyevent.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>리얼모델모집</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_27.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/brouwer.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>브로우핏 이마성형</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_28.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/slimming.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>슬리밍 지방흡입</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_29.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/real_04.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>리얼모델모집</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_30.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/real_03.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>리얼모델모집</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_31.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/time.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>타임리프팅</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_32.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/dual.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>듀얼 마이셀</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                	<li>
                        <img src="../images/sub/ban_33.jpg">
                        <div class="text">
                            <div class="icon">
                            <button type="button" class="website" onclick="window.open('../sub/portfolio/angela.html')"><img src="../images/sub/btn_w.png"></button></div>
                            <span class="subtit">의료/성형외과</span><p>입술성형</p><img src="../images/sub/list_bar.jpg"><br><span>WEBSITE</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- contents E -->
        
        <!-- contents form -->
        <div class="contents">
        	<div class="tit"><img src="../images/main/tit_request.png"></div>
            <div class="post">
				<div class="txt"><img src="../images/main/tit_00.png" alt="혁신적이고 명쾌한 방안을 제시해 드립니다. IT컴퍼니에 문의해주세요"></div>
                <ul class="form">
                	<li class="left"><img src="../images/main/tit_01.jpg" alt="상호명"><input type="text"></li>
                    <li class="right"><img src="../images/main/tit_02.jpg" alt="연락처"><input type="text"></li>
                    <li class="left"><img src="../images/main/tit_03.jpg" alt="담당자명"><input type="text"></li>
                    <li class="right"><img src="../images/main/tit_04.jpg" alt="업종"><input type="text"></li>
                    <li><img src="../images/main/tit_05.jpg" alt="문의내용"><textarea></textarea></li>
                    <li class="button"><button type="button"><img src="../images/main/btn_send.jpg"></button></li>
                </ul>
            </div>
        </div>
        <!-- contents form E -->
        
        <!-- contents map -->
        <div id="map">
            <div class="post">
                <img src="../images/main/txt_contactus.png">
            </div>
        </div>
        <!-- contents map E -->
               
        <!-- contents End -->
    </div>    
    <div id="footerwrap"> 
        <!-- Footer copyright -->
        <div id="bottom">
            <div class="logo_g"><img src="../images/main/ci_gray.png" alt="it company"></div>
            <div class="address"><img src="../images/main/txt_copy.png" alt="copyright"></div>
        </div>
        <!-- Footer copyright E -->
    </div>
</div>

</body>
</html>
