
{? type=="policy"}
<div class="visual_13_05"></div>
<br>
<br>
<br>

<div class="" id="" style="width:980px;margin:10px auto">
	<h4><strong>개인정보처리 취급방침</strong></h4>
</div>
<div class="text_pra2_tag container b tx2" style="width:980px;height:600px;overflow:auto;line-height:14pt;padding:15px;border:1px solid #ddd; word-break:break-all;background-color:#FCFCFC;">

</div>
{:}

<div class="visual_13_08"></div>
<br>
<br>
<br>
<div class="" id="" style="width:980px;margin:10px auto">
	<h4><strong>이용약관</strong></h4>
</div>
<div class="text_pra1_tag container b tx2" style="width:980px;height:600px;overflow:auto;line-height:14pt;padding:15px;border:1px solid #ddd; word-break:break-all;background-color:#FCFCFC;">

</div>


{/}