	<div class="col-md-12 n-mp hidden-xs-down hidden-sm-down opa00" id="" style="padding-top:60px" ani="fadeIn" delay="400">
		<img src="./images/main/visual_01.jpg" alt="" style="width:100%" />
	</div>

	<div class="col-md-12 n-mp hidden-md-up opa00 " id="" style="padding-top:80px" ani="fadeIn" delay="400">
		<img src="./images/main/visual_01_m.jpg" alt="" style="width:100%" />
	</div>

	<div class="col-md-12 n-mp text-center padding opa00"  ani="fadeIn" delay="800">
		<div class="tit m-t20 "><img src="images/main/tit_work.png" style="width:100%" class="m-b10"></div>
	</div>

	<div class="col-md-12 n-mp opa00 animated fadeIn  " >
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="100" id="">
			<a href="/user/page/doc/11?cate=11">
				<img src="images/main/ban_01.jpg" onmouseover="this.src='images/main/ban_01_on.jpg'" onmouseout="this.src='images/main/ban_01.jpg'" alt="홈페이지" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="300" id="">
			<a href="/user/page/doc/11?cate=11">
				<img src="images/main/ban_02.jpg" onmouseover="this.src='images/main/ban_02_on.jpg'" onmouseout="this.src='images/main/ban_02.jpg'" alt="모바일" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="500" id="">
			<a href="/user/page/doc/13?cate=13">
				<img src="images/main/ban_03.jpg" onmouseover="this.src='images/main/ban_03_on.jpg'" onmouseout="this.src='images/main/ban_03.jpg'" alt="랜딩페이지" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="700" id="">
			<a href="/user/page/doc/11?cate=11">
				<img src="images/main/ban_04.jpg" onmouseover="this.src='images/main/ban_04_on.jpg'" onmouseout="this.src='images/main/ban_04.jpg'" alt="바이럴" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="900" id="">
			<a href="/user/page/doc/12?cate=12">
				<img src="images/main/ban_05.jpg" onmouseover="this.src='images/main/ban_05_on.jpg'" onmouseout="this.src='images/main/ban_05.jpg'" alt="검색광고" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="1200" id="">
			<a href="/user/page/doc/11?cate=11">
				<img src="images/main/ban_06.jpg" onmouseover="this.src='images/main/ban_06_on.jpg'" onmouseout="this.src='images/main/ban_06.jpg'" alt="배너광고" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="1600" id="">
			<a href="/user/page/doc/11?cate=11">
				<img src="images/main/ban_07.jpg" onmouseover="this.src='images/main/ban_07_on.jpg'" onmouseout="this.src='images/main/ban_07.jpg'" alt="언론홍보" style="width:100%" class="over_to_img">
			</a>
		</div>
		<div class="col-md-3 n-mp col-sm-6 opa00 "  ani="fadeIn" delay="1800" id="">
			<a href="/user/page/doc/12?cate=12">
				<img src="images/main/ban_08.jpg" onmouseover="this.src='images/main/ban_08_on.jpg'" onmouseout="this.src='images/main/ban_08.jpg'" alt="프로그램개발" style="width:100%" class="over_to_img">
			</a>
		</div>

	</div>



	
