<script type="text/javascript">
		function navercallback(){
			 $.ajax({
				type: 'POST',
				url: '/user/fb/naver_user_save',
				data : 'email='+naver_id_login.getProfileData('email')+'&username='+naver_id_login.getProfileData('name'),
				dataType: 'html',
				success: function(data, status) {
					opener.login_end();
					self.close();
				},
				error: function(request,status,error) {
					alert(request.responseText);
				}
			});
		}


		var naver_id_login = new naver_id_login(naver_app_id, "http://"+HTTP_HOST+"/user/fb/naver_return_api");
		naver_id_login.get_naver_userprofile("navercallback()");
</script>